# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 2
indent_style = tab
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

csharp_new_line_before_open_brace = none
csharp_new_line_before_open_brace_methods = none
csharp_new_line_before_open_brace_types = none
csharp_new_line_before_open_brace_control_blocks = none
csharp_new_line_before_open_brace_accessors = none
csharp_new_line_before_open_brace_anonymous_methods = none
csharp_new_line_before_open_brace_anonymous_types = none
csharp_new_line_before_open_brace_lambda_expression_bodies = none
csharp_new_line_before_open_brace_object_collection_array_initializers = none
